<div class="side-bar">
    <a class="nav-button" id="sidebar-dashboard" href="/admin/dashboard">
        <i class="fas fa-th-large"></i>
        <p>Dashboard</p>
    </a>
    <a class="nav-button" id="sidebar-contests" href="/admin/contests">
        <i class="fas fa-trophy"></i>
        <p>Contests</p>
    </a>
    <a class="nav-button" id="sidebar-entries" href="">
        <i class="fas fa-list"></i>
        <p>Entries</p>
    </a>
    <a class="nav-button" id="sidebar-results" href="">
        <i class="fas fa-list-ol"></i>
        <p>Results</p>
    </a>
    <% if (is_admin) { %>
        <a class="nav-button" id="sidebar-tasks" href="/admin/tasks">
            <i class="fas fa-tasks"></i>
            <p>Tasks</p>
        </a>
        <a class="nav-button" id="sidebar-judging" href="/admin/judging">
	        <i class="fas fa-gavel"></i>
	        <p>Judging</p>
	    </a>
	    <a class="nav-button" id="sidebar-users" href="/admin/users">
	        <i class="fas fa-users"></i>
	        <p>Users</p>
	    </a>
    <% } %>
</div>
