<div class="footer">
	<p class="footer-text">Made with <i class="fas fa-heart red"></i> by <a href="https://github.com/JettBurns14/">Jett Burns</a> and help by <a href="https://github.com/lewisevan">Evan Lewis</a>.</p>
</div>