<div id="page-header">
    <a href="/" class="logo">
        <img src="/static/images/ka-cc-logo.png">
    </a>
    <div class="nav user">
        <% if (evaluator_name) { %>
            <span class="dropdown-btn">
                <%= evaluator_name %>
            </span>
        <% } else { %>
            <span>
                <a href="/login">Login</a>
            </span>
        <% } %>
        <div class="dropdown">
            <a class="dropdown-option" href="/profile">Profile</a>
            <a class="dropdown-option" href="/admin">Admin Dashboard</a>
            <a class="dropdown-option" href="/judging">Judging Portal</a>
            <a class="dropdown-option" href="/settings">Account Settings</a>
            <a class="dropdown-option" href="#">Logout</a>
        </div>
    </div>
</div>
