<div id="page-header">
    <a href="/"><img src="../static/images/logo.png" class="logo"></a>
    <div class="nav user">
        <span class="dropdown-btn">Dropdown</span>
        <div class="dropdown">
            <a class="dropdown-option" href="/profile">Profile</a>
            <a class="dropdown-option" href="/admin">Admin Dashboard</a>
            <a class="dropdown-option" href="/judging">Judging Portal</a>
            <a class="dropdown-option" href="/settings">Account Settings</a>
            <a class="dropdown-option" onclick="logout(event)">Logout</a>
        </div>
    </div>
</div>
<script src="/static/js/header.js"></script>
