<div class="side-bar">
    <a class="nav-button selected" onclick="showpage(0)">
        <i class="fas fa-th-large"></i>
        <p>Dashboard</p>
    </a>
    <a class="nav-button" onclick="showpage(1)">
        <i class="fas fa-trophy"></i>
        <p>Contests</p>
    </a>
    <% if (is_admin) { %>
	    <a class="nav-button" onclick="showpage(2)">
	        <i class="fas fa-users"></i>
	        <p>Users</p>
	    </a>
        <a class="nav-button" onclick="showpage(3)">
	        <i class="fas fa-tasks"></i>
	        <p>Tasks</p>
	    </a>
    <% } %>
    <a class="nav-button" href="/entries/1">
        <i class="fas fa-list"></i>
        <p>Entries</p>
    </a>
    <a class="nav-button" href="/results/2">
        <i class="fas fa-list-ol"></i>
        <p>Results</p>
    </a>
</div>
