/* CSS for admin view */

.content-container {
    display: none;
}
/* Different views on the page */
#create-contest-container, #edit-contest-container,
#create-user-container, #edit-user-container {
    display: none;
}

/* Test styles, will use later
#view-stats-container {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.stats-box {
    background: #343a40;
    width: 33%;
    text-align: center;
    color: white;
    padding: 10px;
}
.stats-box i.font-25 {
    font-size: 25px;
}
.stats-box h4 {
    margin: 10px 0;
} */
