/* Different views on the page */
#create-contest-container, #edit-contest-container,
#create-user-container, #edit-user-container,
#create-task-container, #edit-task-container {
    display: none;
}

.loading-spinner {
    display: block;
    margin: 0 auto;
}

.user.preview {
	overflow-wrap: break-word;
}

/* Styling for judging page */
.flagged-entry-actions {
    display: flex;
    justify-content: space-around;
}
