body {
    height: 100vh;
    background: #f8f8f8;
}

#page-container {
    display: flex;
    margin: 0px 0px;
}

/* Side bar and its buttons */
#side-bar {
    background: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    color: #54820a;
    width: 15%;
}
.nav-button {
    display: block;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 15px;
    font-size: 14px;
}
.nav-button.selected {
    background: #eee;
}
.nav-button:hover {
    background: #eee;
    cursor: pointer;
}

/* Container of preview containers and header */
.page-content {
    background: #FFF;
    min-height: 100vh;
    padding: 0px 30px;
    width: 85%;
    flex-wrap: wrap;
    /* This messes up if there are 2 boxes, fix! */
    justify-content: space-evenly;
    display: none;
}

/* Main header inside page container */
#content-header {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
}

/* Boxes inside page container */
.preview-container {
    background: white;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    margin: 0px 20px 20px 0px;
    width: 45%;
    min-height: 200px;
}
.preview-container.current-contest {
    border: 3px solid green;
}
.preview-container.standard {
    border: 1px solid #ddd;
}
.preview-container.warning {
    border: 1px solid #ebccd1;
}
.preview-container.warning .db-header {
    color: #a94442;
    background: #f2dede;
    border-bottom: 1px solid #ebccd1;
}
.preview-container.standard .db-header {
    color: black;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}
.preview-container .db-header {
    padding: 10px 15px;
    margin: 0px;
    border-radius: 4px 4px 0px 0px;
}
.preview-content {
    padding: 20px;
    margin: 0px;
}
.preview-thumb {
    max-width: 200px;
}

/* Big list of entries */
#entries-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
#entries-list li span {
    color: #777;
}
