/* Main styles all pages will use */
body {
    font-family: "Lato", Arial;
    margin: 0;
    height: 100vh;
    /* For when the user scrolls beyond the normal body view */
    background-color: #f7f8fa;
}

/* Everything on the page under the header */
.page-container {
    display: flex;
    margin: 0px 0px;
}
/* Container of preview containers and header */
.content-container {
    background: #f7f8fa;
    min-height: 100vh;
    padding: 0px 30px;
    flex-grow: 1;
    flex-direction: column;
}
/* Main header inside content containers */
.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}
.content-header h2 {
    margin: 0;
}
.content-header span.admin-button {
    margin-left: 5px;
}

/* Button class used for settings icons */
.control-btn {
    font-size: 20px;
    cursor: pointer;
}
/* Any red that is needed will use this class */
.red {
    /* color: #a94442; */
    color: firebrick;
}
/* Any green that is needed will use this class */
.green {
	/* color: #54820a; */
    color: rgb(100, 160, 100)
}
.bold {
	font-weight: bold;
}

/*  Solid green buttons for admin actions */
.admin-button {
    font-size: 14px;
	background-color: rgb(100, 160, 100);
	color: white;
	text-align: center;
	padding: 8px 10px;
	border-radius: 3px;
    cursor: pointer;
    border: none;
}
.admin-button:disabled,
.admin-button[disabled] {
    background-color: #999;
    cursor: default;
}

.warning-button {
    background-color: firebrick !important;
    color: white;
}

/* Collapsable accordions */
.collapsable {
    cursor: pointer;
}

.collapsable:hover {
    background-color: #ddd !important;
}

.collapsable:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.collapsable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    transition: padding 0.3s ease-out;
}

.expanded:after {
  content: "\2796";
}

.closed {
    padding: 0px !important;
}

/* Text editor */
.text-editor {
    width: 47%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.ql-snow {
    border: none !important;
}

.ql-toolbar {
    border-bottom: 1px solid lightgrey !important;
}

.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}

/* Loading spinners all use this style */
.loading-spinner {
    animation-name: spinner;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    margin: 0 auto;
    display: block;
    width: 120px;
}
.loading-spinner.small {
    width: 40px;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Footer style, not really enough for its own file yet. */
.footer {
    padding: 10px;
    background-color: rgb(100, 160, 100);
    color: #fff;
}
.footer p {
    margin: 0;
    text-align: center;
}
.footer a {
    color: white;
}
