.page-header {
    box-sizing: border-box;
    background-color: #333;
    height: 59px;
    color: #fff;
}
.page-header .nav {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
}
.page-header.hero {
    background-image: url("/static/images/volunteers.png");
    height: 400px;
    background-position: center top;
    background-size: cover;
    color: #fff;
}
.page-header.hero .heading {
    display: block;
}
.page-header.hero .nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.page-header.hero .nav:hover {
    background-color: #fff;
    color: #333;
}
.page-header.hero .nav .logo-container {
    background: none;
}
.heading {
    display: none;
}
.heading h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 10px #555;
    margin-top: 100px;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: inherit;
}
.logo-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* #fff or #333 */
}
.logo svg {
    width: 35px;
    height: 35px;
    padding: 0 10px 0 16px;
}
.logo h1 {
    color: inherit; /* #fff or #333 */
    letter-spacing: 3px;
    margin: 0;
}
.links a:hover {
    text-decoration: none;
}
.page-header .left {
    flex-grow: 1;
}
.logo:hover {
    cursor: pointer;
}
.links span a {
    color: inherit; /* #fff or #333 */
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
}
.links span a:hover {
    text-decoration: underline;
}
/*
.dropdown-btn i {
    vertical-align: middle;
    width: 15px;
    text-align: right;
}
.dropdown {
    margin-right: 5px;
    position: absolute;
    background: #fff;
    display: none;
    flex-direction: column;
    padding: 10px 0;
    margin-top: 20px;
    box-shadow: 0px 1px 5px #999;
    border-radius: 3px;
    min-width: 200px;
    right: 0;
    left: auto;
    z-index: 1;
}
.dropdown.open {
    display: flex;
}
.dropdown::before {
    content: "";
    position: absolute;
    left: auto;
    right: 9px;
    top: -7px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #d8d8d8;
    border-left: 7px solid transparent;
}
.dropdown::after {
    content: "";
    position: absolute;
    left: auto;
    right: 10px;
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}
.dropdown-option {
    padding: 7px 0 7px 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.dropdown-option:hover {
    background-color: #eee;
    text-decoration: none;
}
*/