body {
    font-family: "Roboto", Arial;
    margin: 0px;
}

#page-header {
    background: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    height: 50px;
}
#page-header a {
    color: #777;
    padding: 15px 15px;
    font-size: 18px;
    text-decoration: none;
}
#page-header a:hover {
    background: #eee;
}
#page-header .left {
    float: left;
}
#page-header .right {
    float: right;
}


.button {
    color: #fff;
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 4px;
    transition: box-shadow 0.1s linear;
}
.button.green {
    background-color: #54820a;
}
.button.red {
    background-color: #a94442;
}

.button:hover {
    box-shadow: 0px 1px 6px grey;
}
