.content-container {
    padding: 0 10%;
}
#create-message-container, #edit-message-container {
    display: none;
}
#message-section {
    margin-top: 50px;
}
.message-container {
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.message-container:first-child {
    padding-top: 0;
}
.message-container:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message-header h3 {
    margin: 0 0 15px;
}
.message-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message-author, .message-date, .message-public {
    font-size: 14px;
    margin: 5px 0;
}
