#main-header {
    margin: 0px;
}

.admin-controls {
    float: right;
}

/***** KB Home styling *****/
.article-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-preview {
    font-size: 22px;
    border-bottom: 1px solid black;
    border-radius: 0px !important;
    padding: 8px;
}

.article-preview a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.article-preview a:hover {
    text-decoration: underline;
}

/***** Article page styling *****/
#article-container .preview {
    margin: auto;
}

.article-meta {
    border-top: 1px solid black;
}

/* Hide forms by default */
#create-section-container, #edit-section-container, #create-article-container, #edit-article-container {
    display: none;
}
