body {
    background-color: rgb(35, 100, 238);
    background-image: url("/static/images/blue-mountains.svg");
    background-position: 0 -2px;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    font-family: "Lato", Arial;
    margin: 2px 0;
}
.center.vertical {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.center.horizontal {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin: auto 6vw;
}
#welcome-message {
    color: white;
    font-size: 30px;
}
#welcome-message h1 {
    margin: 50px 0;
    width: 440px;
    text-shadow: 0 2px 30px rgba(0, 0, 50, 0.3);
}
#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 30px 30px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 5px 50px rgba(0, 0, 50, 0.3);
}
.form {
    width: 100%;
    margin: 10px auto;
}
#form-header {
    text-align: center;
    padding: 0 0 40px;
    margin: 0;
    font-weight: 80;
}
.form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    font-size: 15px;
}
input.KA-style {
    background-color: #14bf96;
    border: none;
    color: white;
    cursor: pointer;
    height: 48px;
    background-size: contain;
    background-image: url("../images/ka-logo.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.error {
    color: red;
}
#submit-button {
    background-color: rgb(12, 127, 153);
    border-color: rgb(12, 127, 153);
    color: white;
    cursor: pointer;
    height: 48px;
}
#links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
#links a {
    color: #71B307;
}
#links a:hover {
    color: #518005;
}
