body {
    font-family: 'Roboto', Arial;
    margin: 0px;
}

#page-header {
    background: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    height: 50px;
}

#page-header a {
    color: #777;
    padding: 14px 15px;
    font-size: 18px;
    text-decoration: none;
}
#page-header .left {
    float: left;
}
#page-header .right {
    float: right;
}
#page-header .right:hover {
    background: #eee;
}

#page-container {
    display: flex;
    margin: -1px 0px;
}
