<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Knowledge Base | Challenge Council</title>
    <%- include ../../partials/styles %>
    <link rel="stylesheet" type="text/css" href="/static/css/knowledge-base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/previews.css">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">

    <!-- Main Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body>
    <%- include ../../partials/header %>
    <div class="page-container">
        <div class="content-container">
            <div id="view-sections-container">
                <div class="content-header">
                    <h1 id="main-header">Bema Resources</h1>
                    <%if (is_admin) { %>
                        <span class="admin-controls">
                            <span class="admin-button" onclick="showCreateSectionForm()">New Section</span>
                            <span class="admin-button" onclick="showCreateArticleForm()">New Article</span>
                        </span>
                    <% } %>
                </div>
                <div class="previews-container" id="sections-container">

                </div>
            </div>
            <div id="create-section-container">
                <div class="content-header">
                    <h2>Create Section</h2>
                </div>

                <form id="create-section-form" class="admin-form" onsubmit="return createSection(event)">
                    <div class="row">
                        <div class="col-10">
                            <label for="section_name">Section Name</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="section_name" name="section_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="section_description">Description</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input tall-message-input" type="text" id="section_description" name="section_description">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="section_visibility">Visibility</label>
                        </div>
                        <div class="col-90">
                            <select name="section_visibility">
                                <option value="Public">Public</option>
                                <option value="Evaluators Only">Evaluators Only</option>
                                <option value="Admins Only">Admins Only</option>
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <input type='submit' class="admin-button" value='Save'>
                    </div>
                </form>
            </div>
            <div id="edit-section-container">
                <div class="content-header">
                    <h2>Edit Section</h2>
                </div>
                <form id="edit-section-form" class="admin-form" onsubmit="return editSection(event)">
                    <input class="form-input" type="hidden" id="section_id" name="section_id">
                    <div class="row">
                        <div class="col-10">
                            <label for="section_name">Section Name</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="section_name" name="section_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="section_description">Description</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input tall-message-input" type="text" id="section_description" name="section_description">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="section_visibility">Visibility</label>
                        </div>
                        <div class="col-90">
                            <select name="section_visibility">
                                <option value="Public">Public</option>
                                <option value="Evaluators Only">Evaluators Only</option>
                                <option value="Admins Only">Admins Only</option>
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <input type='submit' class="admin-button" value='Save'>
                    </div>
                </form>
            </div>
            <div id="create-article-container">
                <div class="content-header">
                    <h2>Create Article</h2>
                </div>
                <form id="create-article-form" class="admin-form" onsubmit="return createArticle(event)">
                    <div class="row">
                        <div class="col-10">
                            <label for="article_name">Article Name</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="article_name" name="article_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="article_content">Content</label>
                        </div>
                        <div  class="text-editor">
                            <div id="new-article-editor">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="article_visibility">Visibility</label>
                        </div>
                        <div class="col-90">
                            <select name="article_visibility">
                                <option value="Public">Public</option>
                                <option value="Evaluators Only">Evaluators Only</option>
                                <option value="Admins Only">Admins Only</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="article_section">Section</label>
                        </div>
                        <div class="col-90">
                            <select name="article_section" id="create-article-section-dropdown">

                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <input type='submit' class="admin-button" value='Save'>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include ../../partials/footer %>
</body>
<script src="/static/js/general.js"></script>
<script src="/static/js/knowledge-base/home.js"></script>
</html>
