<!DOCTYPE HTML>
<html>
    <head>
        <title>Home | Challenge Council</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="shortcut icon" href="/images/winston-icon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <body>
        <%- include ../partials/header %>
        <div id="page-container">
            <p>Welcome to the Challenge Council Judging tool!</p>
            <p>Chances are, you are here to judge the contest entries. Please see the header above ^ to navigate.</p>
            <p>If you have any questions at all about using this tool, ask Jett since he built it.</p>
            <p>If you would like to build new features, adjust the interface, or just look under the hood, check out all the code on <a href="https://github.com/JettBurns14/Contest-judging-tool">GitHub</a>.</p>
        </div>
    </body>
</html>
