<!DOCTYPE HTML>
<html>
    <head>
        <title>Judging | Challenge Council</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/judging.css">
        <link rel="shortcut icon" href="/Winston-icon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <div id="page-header">
            <a href="/" class="left">Challenge Council</a>

            <a href="/profile" class="right">Jett Burns</a>
            <a href="/admin" class="right">Admin</a>
            <a href="/judging" class="right">Judge</a>
        </div>

        <h1 id="entry-title"></h1>
        <p id="entry-info"></p>
        <img src="/loading-spinner-icon.png" id="loading-spinner">
        <iframe id="entry-viewer-iframe"></iframe>

        <form id="entry-form" method="post" action="/routes/judging" target="_self">
            <div id="sliders-container">
                <div class="form-field-div">
                    <div class="sliderContainer" id="creativity-slider"></div>
                </div>

                <div class="form-field-div">
                    <div class="sliderContainer" id="complexity-slider"></div>
                </div>

                <div class="form-field-div">
                    <div class="sliderContainer" id="clean-code-slider"></div>
                </div>

                <div class="form-field-div">
                    <div class="sliderContainer" id="originality-slider"></div>
                </div>
            </div>

            <input name="submit" type="submit" id="submit-form-button" value="Submit" ></input>
        </form>
    </body>

    <script src="/routes/contest-id"></script>

    <script>
    /*
    1) Input ID of contest. *
    2) Load all spinoffs into `entries` array. *
    3) Display an entry, maybe pick in random order. *
    4) Entry's code on left, canvas on right. Maybe w embeds *
    5) Enter score below, submit.
    6) Store submission in another array,
       remove this entry from `entries` array.
    7) Pick another entry from `entries`, repeat.
    */
    // https://www.khanacademy.org/computer-programming/contest-gingerbread-house/5611465022767104

    var ENTRIES;
    var title = document.getElementById('entry-title');
    var info = document.getElementById('entry-info');
    var entryForm = document.getElementById('entry-form');
    var viewerIframe = document.getElementById('entry-viewer-iframe');
    var spinner = document.getElementById('loading-spinner');

    function Slider({ title, name, description, id, max, color, borderColor, leftLabel, rightLabel }) {
        this.title = title;
        this.name = name;
        this.description = description;
        this.id = id;
        this.max = max;
        this.min = 0;
        this.value = max / 2;
        this.color = color;
        this.border = borderColor;
        this.leftLabel = leftLabel;
        this.rightLabel = rightLabel;
    };
    Slider.prototype.create = function() {
        var container = document.getElementById(this.id);
        var title = document.createElement('h3');
        title.textContent = this.title;
        var description = document.createElement('p');
        description.textContent = this.description;
        var leftLabel = document.createElement('span');
        leftLabel.style.float = 'left';
        leftLabel.className = 'label';
        var rightLabel = document.createElement('span');
        rightLabel.style.float = "right";
        rightLabel.className = 'label';
        var leftLabelTxt = document.createTextNode(this.leftLabel);
        var rightLabelTxt = document.createTextNode(this.rightLabel);
        leftLabel.appendChild(leftLabelTxt);
        rightLabel.appendChild(rightLabelTxt);
        var slider = document.createElement('input');
        slider.className = 'slider';
        slider.name = this.name;
        slider.type = 'range';
        slider.min = this.min;
        slider.max = this.max;
        slider.value = this.value;
        slider.style.background = this.color;
        slider.style.border = '1px solid ' + this.border;
        var currentValue = document.createElement('div');
        currentValue.className = 'current-value';
        currentValue.style.left = slider.value * 10 + '%';
        currentValue.textContent = slider.value / 2;
        slider.oninput = function() {
            currentValue.style.left = slider.value * 10 + '%';
            currentValue.textContent = slider.value / 2;
        }
        var ticks = document.createElement('div');
        ticks.className = 'sliderTicks';
        for (var i = this.min; i < this.max / 2 + 1; ++i) {
            var tickVal = document.createElement('div');
            tickVal.className = 'tick tickBottom';
            tickVal.style.left = (i * this.max * 2) + '%';
            var vals = document.createTextNode(i);
            tickVal.appendChild(vals);
            ticks.appendChild(tickVal);
        }
        container.appendChild(title);
        container.appendChild(description)
        container.appendChild(leftLabel);
        container.appendChild(rightLabel);
        container.appendChild(currentValue);
        container.appendChild(slider);
        container.appendChild(ticks);
    };

    var creativitySlider = new Slider({
        title: 'CREATIVITY',
        name: 'creativity',
        description: 'Test hu ijfnvkjfn jfn jkf nfjk nfk bdjknfjkn djkfn fkd nfk dklfm flkm lkdm lkfn lfk fkl mlkfdm kldm klfnkl dkfln lfd flkdn kfjdn lfkd.',
        id: 'creativity-slider',
        max: 10,
        color: '#b9e986',
        borderColor: '#7ed320',
        leftLabel: 'Unimaginative',
        rightLabel: 'Inventive'
    });
    creativitySlider.create();
    var complexitySlider = new Slider({
        title: 'COMPLEXITY',
        name: 'complexity',
        description: 'Test hu ijfnvkjfn jfn jkf nfjk nfk bdjknfjkn djkfn fkd nfk dklfm flkm lkdm lkfn lfdn kfjdn lfkd.',
        id: 'complexity-slider',
        max: 10,
        color: '#c6aef8',
        borderColor: '#8e5bf4',
        leftLabel: 'Uninformative',
        rightLabel: 'Enlightening'
    });
    complexitySlider.create();
    var cleanCodeSlider = new Slider({
        title: 'CLEAN CODE',
        name: 'clean_code',
        description: 'Test hu ijfnvkjfn jfn jkf nfjk nfk bdjknfjkn djkfn fkd nfk.',
        id: 'clean-code-slider',
        max: 10,
        color: '#ffc86e',
        borderColor: '#fea839',
        leftLabel: 'Messy',
        rightLabel: 'Elegant'
    });
    cleanCodeSlider.create();
    var originalitySlider = new Slider({
        title: 'ORIGINALITY',
        name: 'originality',
        description: 'Test hu lkdm lkfn lfk fkl mlkfdm kldm klfnkl dkfln lfd flkdn kfjdn lfkd jn kjfn jlmf lkfn jf nlkfn fjln flk fkl nfln lfk flkf n.',
        id: 'originality-slider',
        max: 10,
        color: '#ed8995',
        borderColor: '#d0011b',
        leftLabel: 'Basic',
        rightLabel: 'Sophisticated'
    });
    originalitySlider.create();

    // Get spinoffs with API
    // AJAX
    var getSpinoffs = new XMLHttpRequest();
    getSpinoffs.open("GET", `https://www.khanacademy.org/api/internal/scratchpads/${CONTEST_ID}/top-forks?limit=2000&projection={"scratchpads":[{"url":1,"title":1}]}&\x5f=${Date.now()}`, true);
    getSpinoffs.addEventListener("load", () => {
        let status = getSpinoffs.status;
        if (getSpinoffs.readyState == 4 && status == 200) {
            ENTRIES = JSON.parse(getSpinoffs.responseText);

            let entries = ENTRIES.scratchpads;
            let randomEntryIndex = Math.floor(Math.random() * entries.length);
            let randomEntry = entries[randomEntryIndex];
            let randomEntryId = entries[randomEntryIndex].url.split('/')[5];

            var getEntry = new XMLHttpRequest();
            getEntry.open("GET", `https://www.khanacademy.org/api/labs/scratchpads/${randomEntryId}?projection={"width":1,"height":1}`);
            getEntry.addEventListener("load", () => {
                // once loaded, remove spinner.
                let entryData = JSON.parse(getEntry.responseText);

                viewerIframe.setAttribute("src", `${randomEntry.url}/embedded`);
                //viewerIframe.setAttribute("width", 410 + entryData.width + "px");
                viewerIframe.setAttribute("height", 2 + entryData.height + "px");
                title.textContent = randomEntry.title;
                info.textContent = `${randomEntryIndex}/${entries.length}`;
            });
            getEntry.send();
        } else {
          console.log(status);
        }
    });
    getSpinoffs.send();

    viewerIframe.addEventListener("load", () => {
        viewerIframe.style.display = "block";
        spinner.style.display = "none";
    });

    entryForm.addEventListener("submit", () => {
        document.getElementById("submit-form-button").value = "Sent!";
    });
    </script>
</html>
