<!DOCTYPE HTML>
<html>
    <head>
        <title>Login | Challenge Council</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <link rel="shortcut icon" href="/images/Winston-icon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <body>
        <form id="login-form" method="post" action="/routes/login">
            <div id="form-div">
                <h1 id="form-header">Log-in</h1>
                <input class="login-input" name="userPassword" type="password" placeholder="Account Password" required>
                <input class="login-input" name="councilPassword" type="password" placeholder="Council Password" required>
                <input class="login-input" type="submit" value="Log-in" id="submit-button">
            </div>
        </form>
    </body>
</html>
