<!DOCTYPE HTML>
<html>
    <head>
        <title>Login | Challenge Council</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <body>
        <div class="center vertical">
            <div class="center horizontal">
                <div id="welcome-message">
                    <h1>Good to see you again!</h1>
                </div>
                <div id="form-container">
                    <form id="login-form" method="post" onSubmit="return submitLogin(event)">
                        <h1 id="form-header">Log in</h1>
                        <label for="evalutor">Account Username <span class="error" id="evaluator-error"></span></label>
                        <input class="login-input" name="evaluator" type="text" required>
                        <label for="userPassword">Account Password <span class="error" id="password-error"></span></label>
                        <input class="login-input" name="userPassword" type="password" required>
                        <label for="councilPassword">Council Password <span class="error" id="councilpw-error"></span></label>
                        <input class="login-input" name="councilPassword" type="password" required>
                        <input class="login-input" type="submit" value="Log in" id="submit-button">
                        <div id="links"><a href="#">Create an account</a><a href="#">Forgot password?</a></div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/login.js"></script>
</html>
