<!DOCTYPE HTML>
<html>
    <head>
        <title>Login | Challenge Council</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <body>
        <div class="center vertical">
            <div class="center horizontal">
                <div id="welcome-message">
                    <h1>Good to see you again!</h1>
                </div>
                <div id="form-container">
                    <h1 id="form-header">Sign up or login</h1>
                    <form class="form" method="post" onSubmit="return submitForm(event)">
                        <input name="submit-signup" class="KA-style" type="submit" value="Connect with KA">
                    </form>
                    <p>Note: Only approved Challenge Council members can connect their accounts. Check out the <a href="/">homepage</a> if you aren't here to judge!</p>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/login.js"></script>
</html>
