<!DOCTYPE HTML>
<html>
    <head>
        <title>Profile | Challenge Council</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/profile.css">
        <link rel="shortcut icon" href="/Winston-icon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <body>
        <div id="page-header">
            <a href="#" class="left">Challenge Council</a>

            <a href="/profile" class="right">Jett Burns</a>
            <a href="/admin" class="right">Admin</a>
            <a href="/judging" class="right">Judge</a>
        </div>
        <p>Profile stuff</p>
    </body>
</html>
