<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin | Challenge Council</title>
    <%- include ../../partials/styles %>
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/static/css/previews.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
</head>

<body>

    <%- include ../../partials/header %>

    <div class="page-container">
        <%- include ../../partials/adminSidebar %>

        <div class="content-container" id="dashboard-page">
            <div class="content-header">
                <h2>Dashboard</h2>
            </div>

            <div class="previews-container">
                <div class="preview col-6 standard">
                    <div class="db-header">
                        <p>Your reviewed entries for current contest:</p>
                    </div>
                    <div id="your-reviewed-entries-count" class="preview-content">
                        <!-- reviewedCount -->
                        <img class="loading-spinner" src="/static/images/new-loading-spinner.svg">
                    </div>
                </div>
                <div class="preview col-6 standard">
                    <div class="db-header">
                        <p>Total reviewed entries for your group:</p>
                    </div>
                    <div id="your-group-total-evaluations-count" class="preview-content">
                        <!-- totalEvaluationsCount -->
                        <img src="/static/images/new-loading-spinner.svg" class="loading-spinner">
                    </div>
                </div>
                <% if (is_admin) { %>
                    <div class="preview col-6 standard">
                        <div class="db-header">
                            <p>Total reviewed entries for current contest:</p>
                        </div>
                        <div id="total-reviewed-count" class="preview-content">
                            <!-- totalEvaluationsCount -->
                            <img src="/static/images/new-loading-spinner.svg" class="loading-spinner">
                        </div>
                    </div>
                    <div class="preview col-6 standard">
                        <div class="db-header">
                            <p>Total evaluations for current contest:</p>
                        </div>
                        <div id="total-evaluations-count" class="preview-content">
                            <!-- totalEvaluationsCount -->
                            <img src="/static/images/new-loading-spinner.svg" class="loading-spinner">
                        </div>
                    </div>
                    <div class="preview col-6 standard">
                        <div class="db-header">
                            <p>Entry stats for current contest:</p>
                        </div>
                        <div id="entry-stats" class="preview-content">
                            <!-- totalEvaluationsCount -->
                            <img src="/static/images/new-loading-spinner.svg" class="loading-spinner">
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <%- include ../../partials/footer %>
</body>
<script src="/static/js/general.js"></script>
<script src="/static/js/admin/dashboard.js"></script>
<script src="/static/js/adminSidebar.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</html>
